[SERVER]
#socket = "/var/run/saslauthd/mux"
socket = "/tmp/mux"
rate_info = 30
client_max = 100
client_timeout = 30
buffer_size = 256
buffer_timeout = 50
buffer_hash = "sha256"
socket_size = 1024
plugin_path = "./plugins"
log = "TERM"
user = "golang"
group = "golang"
graceful = 5

[DEBUG]
enable = false
file = "/tmp/saslauthd.debug"

[CACHE]
enable = true
type = "LOCAL"
key = ""
keyRand = false
ok = 60
ko = 60

[CACHE.LOCAL]
path = "/tmp"
sweep = 60
purge_on_start = false

[CACHE.MEMCACHE]
host = "127.0.0.1"
port = 6379
db = 0
timeout = 3

[AUTH]
mech = ["NO"]
auth_multi = false